// COLORS
$color-primary-light: #414345;
$color-primary-dark: #232526;

$color-success: #55c57a;
$color-warning: #ff7730;

$color-complimentary: #36D1DC;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #777;
$color-grey-light-3: #ccc;

$color-black: #000;
$color-white: #fff;

//WORK COLORS
$color-orange-light: #FBDB89;
$color-purple: #CB00FF;
$color-orange-dark: #F59A83;

$color-pink-light: #FF3366;
$color-pink-dark: #BA265D;

$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-blue-light: #00EBFF;
$color-blue-dark: #00767F;