// COLORS
$color-primary-light: #414345;
$color-primary-dark: #232526;

$color-secondary-light: #55c57a;
$color-secondary-dark: #ff7730;

$color-complimentary: #36D1DC;

$color-grey-light-1: #f7f7f7;

$color-black: #000;

$color-white: #fff;