.footer {
	background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
	color: #fff;
	text-align: center;
	padding-top: 8rem;
	padding-bottom: 4rem;

	&__img {
		width: 30rem;
		margin-bottom: 4rem;

		@include respond(phone) {
			width: 20rem;
		}
	}

	&__content {
		display: flex;
		justify-content: space-around;

		@include respond(bs-md) {
			flex-direction: column;
		}
	}

	&__navigation {
		padding-top: 1.5rem;
		display: inline-block;
	}

	&__border {
		width: 30rem;
		margin: 0 auto 2rem auto;
		border-top: 1px solid $color-complimentary-light;
	}

	&__list {
		list-style: none;
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			padding: 1rem;
			font-size: 1.7rem;
			color: $color-grey-light-1;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			border-radius: 3px;
			transition: all .2s;
		}

		&:hover,
		&:active {
			color: $color-complimentary-light;
		}
	}

	&__social {

		@include respond(bs-md) {
			margin-top: 3.5rem;
		}

		&-heading {
			margin-bottom: 2rem;
		}

		&-img {
			&:not(:last-child) {
				margin-right: 1.5rem;
			}
		}

		img {
			width: 4rem;
			height: 4rem;
		}
	}

	&__copyright {
		padding-top: 8rem;
		text-align: center;
		margin: 0 auto;

		@include respond(bs-md) {
			padding-top: 5rem;
		}

		&-text {
			font-size: 1.7rem;

			&--secondary {
				font-size: 1.4rem;
			}
		}
	}
}