.navbar-toggler-icon {
	font-size: 2rem;
}

.navbar .nav-item .nav-link {
	border-radius: 3px !important;
	font-size: 1.6rem;

	@include respond(bs-nav) {
		text-align: center;
	}
}

.nav-color {
	background-color: $color-primary-dark !important;
}

.navbar .nav-item .nav-link:hover {
	color: $color-white !important;
	background-color: $color-primary-light !important;
	transition: .2s;

	@include respond(bs-nav) {
		background-color: none !important;
	}
}

.navTrans {
	background-color: transparent !important;
	transition: 0.4s;
}

.navBlack {
	background-color: $color-primary-dark !important;
	transition: 0.4s;
}