<!-- FOOTER -->
<footer class="footer">
	<div class="footer__name-box">
		<img src="/images/footer-logo.png" alt="Dan Koe logo" class="footer__img">
	</div>
	<div class="footer__content">
		<div class="footer__navigation">
			<div class="footer__border"></div>
			<ul class="footer__list">
				<li class="footer__item"><a href="/" class="footer__link">Home</a></li>
				<li class="footer__item"><a href="/#about" class="footer__link">About</a></li>
				<li class="footer__item"><a href="/#services" class="footer__link">Services</a></li>
				<li class="footer__item"><a href="/blog" class="footer__link">Blog</a></li>
				<li class="footer__item"><a href="/#contact" class="footer__link">Contact</a></li>
			</ul>
		</div>
		<div class="footer__social">
			<h4 class="footer__social-heading heading-tertiary-light">Stay in touch</h4>
			<div class="d-flex flex-row justify-content-center align-items-center">
				<a class="footer__social-img" href="https://www.instagram.com/thedankoe/" target="_blank"><img src="/images/instagramlogo.png" alt="Instagram logo"></a>
				<a class="footer__social-img" href="https://www.linkedin.com/in/danielkoenigslieb/" target="_blank"><img src="/images/linkedinlogo.png" alt="Instagram logo"></a>
				<a class="footer__social-img" href="https://github.com/thedankoe" target="_blank"><img src="/images/githublogo.png" alt="Instagram logo"></a>
			</div>
		</div>
	</div>
			
	<div class="footer__copyright">
		<p class="footer__copyright-text">Built and Designed by <a href="#header" class="footer__link">Dan Koe</a></p>
		<p class="footer__copyright-text--secondary">Dan Koe &copy; 2018</p>
	</div>
</footer>
<!-- /FOOTER -->

<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>
</html>
