<% include partials/header %>

<main class="not-found">
    <h1 class="not-found__oops">Oops! The page you tried to reach doesn't exist.</h1>
    <a href="/" class="not-found__return">Return home</a>
</main>

<% include partials/footer-two %>