<% include partials/header-two %>

<section class="section-blog-show">
    <div class="container">
        <h1 class="heading-secondary">5 Web Design Trends in 2018</h1>
        <div class="section-blog-show__image section-blog-show__image--1">&nbsp;</div>
        
        <p class="section-blog-show__text">The world has gone digital with every business and individual establishing an online presence. It is the norm for every business small or large to have a website if they want to make any kind of an impact on users. Nobody should have to tell you that your business needs a website, this is a given. The question is, what makes your website stand out from others?</p>
        <p class="section-blog-show__text">Having a website is not enough, when a visitor lands on your page, they have a few seconds to make the decision to continue surfing or to find a more interesting way to spend their valuable time. Making the right impression on a potential client is the most important thing you can do. Layout, color, and speed are heavy contributors to how well your website does and how many customers will be coming back.</p>
        <p class="section-blog-show__text">Here are 5 web design trends for 2018, they have been around for awhile but are making an appearance now more than ever this year.</p>

        <h2 class="section-blog-show__heading">Color</h2>
        <p class="section-blog-show__text">Visual appeal is key; thus your color scheme can improve or damage the likeability of your website. Ensure that you pick a color scheme that fits directly with that of the company, or a color scheme that emphasizes what the company stands for or the service it renders. Recently I have noticed vibrant, monochrome (one color, different shades) color schemes for a lot of websites. One color keeps things interesting and effective while letting you save some of you’re creative juices for items of similar importance.</p>
        <p class="section-blog-show__text-link">To step up your color choices, visit Adobe Color <a href="https://color.adobe.com/" target="_blank" class="section-blog-show__link">here</a></p>
        <div class="section-blog-show__image section-blog-show__image--2">&nbsp;</div>

        <h2 class="section-blog-show__heading">Animation</h2>
        <p class="section-blog-show__text">Beyond every vein of doubt, animation plays a huge role in expressing interfaces and ideas. I am not talking about crazy animations all over the page, but parallax style sites that increase the users experience, thought out hover animations, and simply changing the opacity of items at certain times. There is so much you can do easily with CSS alone; take the short amount of time to implement engaging animations that will make your site look like it was built by a pro.</p>
        <p class="section-blog-show__text-link">Increase your animation game <a href="https://css-tricks.com/almanac/properties/a/animation/" target="_blank" class="section-blog-show__link">here</a></p>
        <div class="section-blog-show__image section-blog-show__image--3">&nbsp;</div>

        <h2 class="section-blog-show__heading">Gradients</h2>
        <p class="section-blog-show__text">Gradients. Are. Everywhere. They are also extremely easy to create with CSS. If you are having a hard time finding a good color scheme for the site you are creating. Head over to uiGradients and check out their premade gradients that allow you to copy and paste the CSS into your code. There are uncountable ways you can use gradients, it keeps your website from looking flat and amateurish. My favorite way of using gradients in CSS is to create an asymmetric background like you would with the clip-path property.</p>
        <p class="section-blog-show__text-link">Check out uiGradients <a href="https://uigradients.com/" target="_blank" class="section-blog-show__link">here</a></p>
        <div class="section-blog-show__image section-blog-show__image--4">&nbsp;</div>

        <h2 class="section-blog-show__heading">Asymmetric layouts</h2>
        <p class="section-blog-show__text">No one likes a cluttered site, not even the most patient customer. You must strive to keep your website as simple as possible. Creating an asymmetric layout with properties such as skew, clip-path, and gradients can make your site more visually appealing and forces you to be more creative when laying out content. In combination with the next trend, whitespace, asymmetric layouts are one of the most effective ways to get the users attention.</p>
        <p class="section-blog-show__text-link">Learn about asymmetric designs <a href="https://css-tricks.com/creating-non-rectangular-headers/" target="_blank" class="section-blog-show__link">here</a></p>
        <div class="section-blog-show__image section-blog-show__image--5">&nbsp;</div>

        <h2 class="section-blog-show__heading">Whitespace</h2>
        <p class="section-blog-show__text">If you have taken any design course you will understand the importance of whitespace. I would argue that it is <strong>THE</strong> most important thing when it comes to a website, having enough whitespace makes the content easier on the eyes by spacing it out and giving room for the important things to actually be read. The only people that would enjoy less whitespace than more would be creatives. Anybody else, including clients, will thank you for displaying content that they can easily navigate.</p>

        <p class="section-blog-show__text-link">Interested in having your own site? Contact me <a href="/#contact" class="section-blog-show__link">here</a></p>
    </div>
</section>

<% include partials/footer %>