<% include partials/header-two %>

<section class="section-blog-page">
    <div class="container">
        <h1 class="heading-secondary">Blog</h1>
        <div class="section-blog-page__height">
            <a href="/blog/5-web-design-trends-in-2018" class="section-blog-page__link">
                <div class="row section-blog-page__row">
                    <div class="col-sm-4 section-blog-page__image section-blog-page__image--1">&nbsp;</div>
                    <div class="col-sm-8 section-blog-page__text-box">
                        <h2 class="section-blog-page__heading">5 Web Design Trends in 2018</h2>
                        <p class="section-blog-page__text">The only thing keeping a client from immediately leaving your site is presentation, design trends play a huge role in conversion.</p>                        
                    </div>
                </div>
            </a>
        </div>
        <div class="section-blog-page__height">
            <a href="#" class="section-blog-page__link">
                <div class="row section-blog-page__row">
                    <div class="col-sm-4 section-blog-page__image section-blog-page__image--2">&nbsp;</div>
                    <div class="col-sm-8 section-blog-page__text-box">
                        <h2 class="section-blog-page__heading">Node Contact Form With Mailgun</h2>
                        <p class="section-blog-page__text">Every site needs a contact form nowadays, you can create one easily in your node app using Mailgun. No PHP needed.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="section-blog-page__height">
            <a href="#" class="section-blog-page__link">
                <div class="row section-blog-page__row">
                    <div class="col-sm-4 section-blog-page__image section-blog-page__image--3">&nbsp;</div>
                    <div class="col-sm-8 section-blog-page__text-box">
                        <h2 class="section-blog-page__heading">Learn HTML in 10 Minutes</h2>
                        <p class="section-blog-page__text">The basics of HTML are easy to grasp. Once you understand the basics, you can do literally everything if you have the creativity.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<% include partials/footer %>