<% include partials/header %>

<header id="header" class="section-header parallax--bg">
	<div class="section-header__name">
		<h1 class="heading-primary">
			<span class="heading-primary--main">Hi, Im <span class="heading-primary--blue">Dan</span></span>
			<span class="heading-primary--sub">I help businesses get <span class="heading-primary--blue">more</span> customers</span>
		</h1>
		<a href="#about" class="section-header__link">
			<svg class="section-header__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
				<title>Go down</title>
				<path d="M12.505 8.698l-2.505 2.302-2.506-2.302c-0.198-0.196-0.518-0.196-0.718 0-0.197 0.196-0.197 0.515 0 0.71l2.864 2.807c0.199 0.196 0.52 0.196 0.717 0l2.864-2.807c0.199-0.195 0.198-0.514 0-0.71-0.197-0.196-0.517-0.196-0.716 0zM10 0.4c-5.302 0-9.6 4.298-9.6 9.6 0 5.303 4.298 9.6 9.6 9.6s9.6-4.297 9.6-9.6c0-5.302-4.298-9.6-9.6-9.6zM10 18.354c-4.615 0-8.354-3.74-8.354-8.354s3.739-8.354 8.354-8.354c4.613 0 8.354 3.74 8.354 8.354s-3.741 8.354-8.354 8.354z"></path>
			</svg>
		</a>
	</div>
</header>

<main>
	<!-- ABOUT -->
	<section class="section-about">
		<div class="about">

			<div class="about-heading sr-default">
				<h1 id="about" class="heading-secondary">You need a strategy</h1>
				<h2 class="about-heading--sub"><em>My work is guaranteed to grow your business</em></h2>
			</div>

			<div class="section-who">
				<div class="who sr-default">
					<div class="who__text">
						<h3 class="heading-tertiary-blue who__heading">Who Am I</h3>
						<p class="who__sub">My name is Dan and I currently work from home doing web development, design, and digital marketing for different businesses. I also have a side job where I work with designers everyday preparing their work for print and ensuring they get the right product. I'm also a fan of the color black and blue if you couldn't tell.</p>
					</div>
					<div class="who__border"></div>
				</div>
				<div class="mission sr-default">
					<div class="mission__border"></div>
					<div class="mission__text">
						<h3 class="heading-tertiary-blue">My mission</h3>
						<p class="who__sub">I am not and do not ever plan on being the average freelancer charging low prices for even lower quality work. My work is guarenteed and at the end of the day I am doing something I love for a client that I believe can grow exponentially. Let me be the catalyst to your growth.</p>
					</div>
				</div>
			</div>

			<h1 class="about-heading heading-secondary sr-default">What to expect</h1>
			<div class="about-box sr-about-box">
				<svg class="about-box__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
					<title>compass</title>
					<path d="M5.454 14.548c0 0 4.568-0.627 6.518-2.576s2.576-6.518 2.576-6.518-4.569 0.627-6.518 2.576-2.576 6.518-2.576 6.518zM9.017 9.015c0.818-0.818 2.385-1.4 3.729-1.762-0.361 1.342-0.945 2.92-1.76 3.732-0.543 0.545-1.426 0.545-1.969 0-0.545-0.543-0.545-1.425 0-1.97zM10.001 0.4c-5.303 0-9.601 4.298-9.601 9.6 0 5.303 4.298 9.601 9.601 9.601 5.301 0 9.6-4.298 9.6-9.601s-4.299-9.6-9.6-9.6zM10 17.6c-4.197 0-7.6-3.402-7.6-7.6 0-4.197 3.402-7.6 7.6-7.6 4.197 0 7.601 3.402 7.601 7.6 0 4.197-3.404 7.6-7.601 7.6z"></path>
				</svg>
				<h3 class="heading-tertiary-dark">Intuitive</h3>
				<p class="about-box__text">
					I have an affinity towards doing things right. Custom designs help make my work intuitive to your client.
				</p>
			</div>
			<div class="about-box sr-about-box">
				<svg class="about-box__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
					<title>laptop</title>
					<path d="M19.754 15.631c-0.247-0.371-1.754-2.631-1.754-2.631v-9c0-1.102-0.9-2-2-2h-12c-1.101 0-2 0.898-2 2v9c0 0-1.507 2.26-1.754 2.631-0.246 0.369-0.246 0.582-0.246 0.869v0.5c0 0.5 0.5 1 0.999 1h18.002c0.499 0 0.999-0.5 0.999-1v-0.5c0-0.287 0-0.5-0.246-0.869zM7 16l0.6-1h4.8l0.6 1h-6zM16 12h-12v-8h12v8z"></path>
				</svg>
				<h3 class="heading-tertiary-dark">Responsive</h3>
				<p class="about-box__text">
					Modern layouts that look great on any size device, this is a must for web design and marketing.
				</p>
			</div>
			<div class="about-box sr-about-box">
				<svg class="about-box__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
					<title>rocket</title>
					<path d="M11.933 13.069c0 0 7.059-5.094 6.276-10.924-0.017-0.127-0.059-0.213-0.112-0.268-0.054-0.055-0.137-0.098-0.263-0.115-5.697-0.801-10.674 6.422-10.674 6.422-4.318-0.517-4.004 0.344-5.974 5.076-0.377 0.902 0.234 1.213 0.904 0.959 0.67-0.252 2.148-0.811 2.148-0.811l2.59 2.648c0 0-0.546 1.514-0.793 2.199s0.055 1.311 0.938 0.926c4.624-2.016 5.466-1.694 4.96-6.112zM12.942 7.153c-0.598-0.613-0.598-1.604 0-2.217 0.598-0.611 1.567-0.611 2.166 0s0.598 1.603 0 2.217c-0.599 0.611-1.569 0.611-2.166 0z"></path>
				</svg>
				<h3 class="heading-tertiary-dark">Optimized</h3>
				<p class="about-box__text">
					From SEO to social media, my work is conversion centered and will guarantee you more leads.
				</p>
			</div>
		</div>
	
		<div class="about-why sr-default">
			<h3 class="heading-tertiary-blue">Why choose me?</h3>
			<div class="about-why__text">
				<p class="about-why__main"><em>I understand what your business needs in order to grow.</em></p>
				<p class="about-why__sub">A stunning and user friendly website, active social media accounts with the right content, and every aspect of SEO covered.</p>
			</div>
			<div class="about-why__border"></div>
		</div>

	</section>
	<!-- /ABOUT -->

	<!-- SERVICES -->
	<section class="section-services parallax--services">
		<h2 id="services" class="heading-secondary-blue section-services__heading sr-default">Services</h2>
			<div class="services">
				<div class="services__box sr-services-box">
					<h3 class="heading-tertiary-light">Web development</h3>
					<ul class="services__list">
						<li class="services__list-item"><span class="services__list-item--option">Custom coded</span> Website creation using modern technologies. Perfect for those who want a website done right tailored to their business.</li>
						<li class="services__list-item"><span class="services__list-item--option">Wordpress</span> Website that gives you the ability to edit content as you please. Great for some businesses, others not so much.</li>
						<li class="services__list-item"><span class="services__list-item--price">One time charge + yearly hosting</span></li>
					</ul>
				</div>
				
				<div class="services__box sr-services-box">
					<h3 class="heading-tertiary-light">Graphic Design</h3>
					<ul class="services__list">
						<li class="services__list-item"><span class="services__list-item--option">Social media</span> Posts designed for user engagement. A necessity for any business.</li>
						<li class="services__list-item"><span class="services__list-item--option">Media</span> Print and digital - advertisements, business cards, etc. Get your business out there.</li>
						<li class="services__list-item"><span class="services__list-item--option">Branding</span> Logo design and other assets to make your brand timeless.</li>
						<li class="services__list-item"><span class="services__list-item--price">One time charge or included in marketing package</span></li>
					</ul>
				</div>
				
				<div class="services__box sr-services-box">
					<h3 class="heading-tertiary-light">Digital Marketing</h3>
					<ul class="services__list">
						<li class="services__list-item"><span class="services__list-item--option">SEO</span> Google analytics + adwords, Google maps submission, XML sitemap, SSL, site speed, and much more to get to the top of Google.</li>
						<li class="services__list-item"><span class="services__list-item--option">Digital media</span> Personalized designs for your business. Includes social media, print and digital design, and branding.</li>
						<li class="services__list-item"><span class="services__list-item--price">Monthly package + Site updates &amp; graphic design</span></li>
					</ul>
				</div>
			</div>
		<p class="services__contact">For pricing and guidance on your best option</p>
		<a href="#contact" class="services__link">
			<div class="services__btn">
					Contact Me
			</div>
		</a>
	</section>
	<!-- /SERVICES -->

	<!-- OTHER -->
	<section class="section-other">
		<div class="choose-me">
			<div class="choose-me__box sr-default">
				<h1 class="heading-tertiary-blue choose-me__heading">Why me over sites like Wix and Squarespace?</h1>
				<p class="choose-me__text">What happens when you need to fine tune a theme or something goes wrong? Making it responsive? You will probably hire a developer down the road because of these problems.</p>
				<p class="choose-me__text">Wordpress is similar to this, but having someone that has already tried and failed can streamline the process and let you focus on running the business you love.</p>
			</div>
			<div class="choose-me__border--2"></div>
			<div class="choose-me__box sr-default">
				<h1 class="heading-tertiary-blue choose-me__heading">Why should you have a dedicated designer &amp; developer?</h1>
				<p class="choose-me__text">Having a go to person for all of your digital needs can be very useful and efficient. Need a new section added to your website? Maybe a new business card or food menu design? I'm a call or email away.</p>
				<p class="choose-me__text">Many of us in life have learned that communication is key, it is my main priority. I <span class="choose-me__text--em">want</span> to address issues in order for the product to be perfect.</p>
			</div>
		</div>

		<div class="section-other__spots sr-default">
			<h2 class="heading-tertiary-blue">Spots are running low</h2>
			<div class="about-why__text">
				<p class="about-why__main"><em>Grab your spot to grow your business</em></p>
				<p class="about-why__sub">I currently have availability for <span class="choose-me__text--em">one</span> custom coded website at a time. I am taking on multiple Wordpress, graphic design, and marketing package clients.</p>
			</div>
			<div class="about-why__border"></div>
		</div>
	</section>
	<!-- /OTHER -->

	<!-- CONTACT -->
	<section class="section-contact">
		<div class="contact">
			<h2 id="contact" class="heading-secondary-blue">Contact Me</h2>
			<div class="contact__form">
				<form id="contact-form" action="/" method="POST" class="form">
					<div class="form__group">
						<input type="text" class="form__input" placeholder="Full Name" id="name" name="name" required>
						<label for="name" class="form__label">Full Name</label>
					</div>
					<div class="form__group">
						<input type="email" class="form__input" placeholder="Email" id="email" name="email" required>
						<label for="email" class="form__label">Email</label>
					</div>

					<div class="form__heading">
						<h3 class="heading-tertiary-light">Receive pricing for</h3>
					</div>
					<div class="form__group form__check-flex">
						<div class="form__check-group">
							<input type="checkbox" class="form__check-input" id="website" name="website">
							<label for="website" class="form__check-label">
								<span class="form__check-button"></span>
								Web Development
							</label>
						</div>
						<div class="form__check-group">
							<input type="checkbox" class="form__check-input" id="design" name="design">
							<label for="design" class="form__check-label">
								<span class="form__check-button"></span>
								Graphic Design
							</label>
						</div>

						<div class="form__check-group">
							<input type="checkbox" class="form__check-input" id="marketing" name="marketing">
							<label for="marketing" class="form__check-label">
								<span class="form__check-button"></span>
								Marketing Package
							</label>
						</div>
					</div>

					<div class="form__group">
						<textarea name="message" id="message" class="form__message" placeholder="Company info / requested work / concerns..."></textarea>
					</div>

					<div class="form__group form__submit">
						<button type="submit" class="form__button">Send</button>
					</div>
					<div class="alert">Message has been sent</div>
				</form>
			</div>
		</div>
	</section>
	<!-- /CONTACT -->
</main>

<% include partials/footer %>
