<% include partials/header %>

<header id="header" class="section-header">
		<div class="section-header__name">
			<h1 class="heading-primary">
				<span class="heading-primary--main">Dan Koe</span>
				<span class="heading-primary--sub">Full Stack Developer</span>
			</h1>
		<div class="section-header__button">
			<a href="#about" class="heading-primary--button btn btn-outline-light"><i class="fas fa-chevron-down"></i></a>
		</div>
		</div>
</header>

<!-- ABOUT -->

<section id="about" class="section-about">
	<div class="about">
		<h2 class="heading-secondary">I create websites</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-4 about__bs">
					<div class="about-box">
						<div class="about-box__height">
							<i class="about-box__icon icon-basic-compass"></i>
							<h3 class="heading-tertiary">Intuitive</h3>
							<p class="about-box__text">
								Minimal and easy-to-navigate websites with the right information to properly display what your brand is about.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 about__bs">
					<div class="about-box">
						<div class="about-box__height">
							<i class="about-box__icon icon-basic-smartphone"></i>
							<h3 class="heading-tertiary">Responsive</h3>
							<p class="about-box__text">
								Modern layouts that look great on any size device, this is a must for web design and marketing.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 about__bs">
					<div class="about-box">
						<div class="about-box__height">
							<i class="about-box__icon icon-basic-accelerator"></i>
							<h3 class="heading-tertiary">Optimized</h3>
							<p class="about-box__text">
								From layout to SEO, my websites are conversion centered and will guarantee you more leads.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="about-box about-box__work">
					<div class="about-box__work--height">
						<h3 class="about-box__heading">My work</h3>
						<div class="row">
							<div class="col-sm-6 about-box__details">
								<p class="about-box__work-text">Visit my github</p>
								<a class="about-box__social-img" href="https://github.com/thedankoe" target="_blank"><img src="/images/githublogo.png" alt="Instagram logo"></a>
							</div>
							<div class="col-sm-6 about-box__details">
								<p class="about-box__work-text about-box__work-text--2">Previous work available upon request</p>
							</div>
						<a href="#contact" class="about-box__work-button">Request work</a>
						</div>
					</div>
				</div>
			</div>
			<div class="about-box__button">
				<a href="#services" class="heading-secondary--button btn btn-outline-dark"><i class="fas fa-chevron-down"></i></a>
			</div>
		</div>
	</div>
</section>
<!-- /ABOUT -->

<!-- SERVICES -->
<section class="section-services">
	<h2 id="services" class="heading-secondary-light">Services</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-6 services__bs">
				<div class="services-box services-box--1">
					<div class="services-box__height">
						<h3 class="heading-tertiary-light">Website Creation</h3>
						<div class="services-box__details">
							<ul>
								<li>Landing pages</li>
								<li>Single/multi page sites</li>
								<li>Conversion centered</li>
								<li>Designed for your business</li>
								<li>One time cost</li>
								<li class="services-box__learn"><a href="#contact">Learn more</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 services__bs">
				<div class="services-box services-box--2">
					<div class="services-box__height">
						<h3 class="heading-tertiary-light">Marketing Package</h3>
						<div class="services-box__details">
							<ul>
								<li>Social media management</li>
								<li>Google AdWords/Analytics</li>
								<li>Email campaigns</li>
								<li>Strategized for your business</li>
								<li>Monthly cost</li>
								<li><a href="#contact">Learn more</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<a href="#blog" class="services-box__button heading-secondary--button btn btn-outline-light"><i class="fas fa-chevron-down"></i></a>
		</div>
	</div>
</section>
<!-- /SERVICES -->

<!-- BLOG -->
<section class="section-blog">
	<div id="blog" class="blog">
		<h2 class="heading-secondary">Blog</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-4 blog__bs">
					<div class="blog-box">
						<div class="blog-box__height">
							<div class="blog-box__image blog-box__image--1">&nbsp;</div>
							<h3 class="heading-tertiary">5 web design trends in 2018</h3>
							<p class="blog-box__text">
								The only thing keeping a client from immediately leaving your site is presentation, design trends play a huge role in conversion.
							</p>
							<a class="blog-box__read" href="/blog/5-web-design-trends-in-2018">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 blog__bs">
					<div class="blog-box">
						<div class="blog-box__height">
							<div class="blog-box__image blog-box__image--2">&nbsp;</div>
							<h3 class="heading-tertiary">Easy NodeJS contact form</h3>
							<p class="blog-box__text">
								Every site needs a contact form nowadays, you can create one easily in your node app using Nodemailer. No PHP needed.
							</p>
							<a class="blog-box__read" href="#">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 blog__bs">
					<div class="blog-box">
						<div class="blog-box__height">
							<div class="blog-box__image blog-box__image--3">&nbsp;</div>
							<h3 class="heading-tertiary">Learn HTML in 10 Minutes</h3>
							<p class="blog-box__text">
								The basics of HTML are easy to grasp. Once you understand the basics, you can do literally everything if you have the creativity.
							</p>
							<a class="blog-box__read" href="#">Read more</a>
						</div>
					</div>
				</div>
				<a href="#contact" class="heading-secondary--button btn btn-outline-dark"><i class="fas fa-chevron-down"></i></a>
			</div>
		</div>
	</div>
</section>
<!-- /BLOG -->

<!-- CONTACT -->
<section class="section-contact">
	<h2 id="contact" class="heading-secondary">Contact Me</h2>
	<div class="row">
		<div class="container">
			<div class="contact">
				<div class="contact__form">
					<form id="contact-form" action="/" method="POST" class="form">
						<div class="form__group">
							<input type="text" class="form__input" placeholder="Full Name" id="name" name="name" required>
							<label for="name" class="form__label">Full Name</label>
						</div>
						<div class="form__group">
							<input type="email" class="form__input" placeholder="Email" id="email" name="email" required>
							<label for="email" class="form__label">Email</label>
						</div>

						<div class="form__heading">
							<h3 class="heading-tertiary-light">Receive pricing for</h3>
						</div>
						<div class="form__group">
							<div class="form__check-group">
								<input type="checkbox" class="form__check-input" id="website" name="website">
								<label for="website" class="form__check-label">
									<span class="form__check-button"></span>
									Website Creation
								</label>
							</div>

							<div class="form__check-group">
								<input type="checkbox" class="form__check-input" id="marketing" name="marketing">
								<label for="marketing" class="form__check-label">
									<span class="form__check-button"></span>
									Marketing Package
								</label>
							</div>
						</div>

						<div class="form__group">
							<textarea name="message" id="message" class="form__message" placeholder="Company info / request work / comments..."></textarea>
						</div>

						<div class="form__group form__submit">
							<button type="submit" class="form__button">Send</button>
						</div>
						<div class="alert">Message has been sent</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /CONTACT -->

<% include partials/footer %>
