<% include partials/header %>

<header id="header" class="section-header section-header--services parallax--bg">
	<div class="section-header__name">
		<h1 class="heading-primary">
			<span class="heading-primary--main">Services</span></span>
			<span class="heading-primary--sub">Find the right one for <span class="heading-primary--blue">you</span></span>
		</h1>
		<a href="#development" class="section-header__link">
			<svg class="section-header__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
				<title>Go down</title>
				<path d="M12.505 8.698l-2.505 2.302-2.506-2.302c-0.198-0.196-0.518-0.196-0.718 0-0.197 0.196-0.197 0.515 0 0.71l2.864 2.807c0.199 0.196 0.52 0.196 0.717 0l2.864-2.807c0.199-0.195 0.198-0.514 0-0.71-0.197-0.196-0.517-0.196-0.716 0zM10 0.4c-5.302 0-9.6 4.298-9.6 9.6 0 5.303 4.298 9.6 9.6 9.6s9.6-4.297 9.6-9.6c0-5.302-4.298-9.6-9.6-9.6zM10 18.354c-4.615 0-8.354-3.74-8.354-8.354s3.739-8.354 8.354-8.354c4.613 0 8.354 3.74 8.354 8.354s-3.741 8.354-8.354 8.354z"></path>
			</svg>
		</a>
    </div>
    <div class="section-header__info">
        <h2 class="section-header__info--text">Each of my services are guarenteed to grow your business to some degree, the best results and price come from all of them combined.</h2>
    </div>
</header>

<section id="development" class="section-services-page">
    <h1 id="about" class="heading-secondary">Web development</h1>
    <h2 class="heading-secondary--sub"><em>Not all out of the box solutions work out of the box</em></h2>

    <div class="services-page-box">
        <img src="images/web-dev-code.png" alt="Coding picture" class="services-page-box__img">
        <div class="services-page-box__text">
            <h3 class="heading-tertiary-blue">Custom coded website</h3>
            <p class="services-page-box__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores suscipit aut et. Laborum explicabo voluptatibus obcaecati dolorum, itaque accusantium ab delectus dignissimos, optio, labore sit. Quibusdam rem totam deserunt nesciunt!</p>
        </div>
    </div>
    <div class="services-page-box">
        <div class="services-page-box__text">
            <h3 class="heading-tertiary-blue">WordPress website</h3>
            <p class="services-page-box__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores suscipit aut et. Laborum explicabo voluptatibus obcaecati dolorum, itaque accusantium ab delectus dignissimos, optio, labore sit. Quibusdam rem totam deserunt nesciunt!</p>
        </div>
        <img src="images/wordpress-website.png" alt="Coding picture" class="services-page-box__img">
    </div>

    <div class="services-page-description">
        <h3 class="heading-tertiary-blue">Pricing</h3>
        <p class="services-page-description__paragraph">Websites are a one time charge based off of the magnitude of the website (single/multi page, contact form, authorization, etc.) plus yearly hosting.</p>
        <p class="services-page-description__paragraph--faded">Unlimited revisions and hosting are included with monthly marketing package.</p>
        <div class="services-page-description__border"></div>
    </div>
</section>

<section class="section-services-page">
    <h1 id="design" class="heading-secondary">Graphic Design</h1>
    <h2 class="heading-secondary--sub"><em>Not all out of the box solutions work out of the box</em></h2>

    <div class="services-page-box">
        <img src="images/wordpress-website.png" alt="Coding picture" class="services-page-box__img">
        <div class="services-page-box__text">
            <h3 class="heading-tertiary-blue">Social Media</h3>
            <p class="services-page-box__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores suscipit aut et. Laborum explicabo voluptatibus obcaecati dolorum, itaque accusantium ab delectus dignissimos, optio, labore sit. Quibusdam rem totam deserunt nesciunt!</p>
        </div>
    </div>
    <div class="services-page-box">
        <div class="services-page-box__text">
            <h3 class="heading-tertiary-blue">Branding</h3>
            <p class="services-page-box__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores suscipit aut et. Laborum explicabo voluptatibus obcaecati dolorum, itaque accusantium ab delectus dignissimos, optio, labore sit. Quibusdam rem totam deserunt nesciunt!</p>
        </div>
        <img src="images/wordpress-website.png" alt="Coding picture" class="services-page-box__img">
    </div>

    <div class="services-page-description">
        <h3 class="heading-tertiary-blue">Pricing</h3>
        <p class="services-page-description__paragraph">Design work is a value based one time charge per design. Time, detail, and purpose are all taken into account to give you the best price for a great product.</p>
        <p class="services-page-description__paragraph--faded">Unlimited revisions and multiple yet limited designs are included with monthly marketing package.</p>
        <div class="services-page-description__border"></div>
    </div>
</section>

<section class="section-services-page">
    <h1 id="marketing" class="heading-secondary">Digital marketing</h1>
    <h2 class="heading-secondary--sub"><em>Not all out of the box solutions work out of the box</em></h2>

    <div class="services-page-box">
        <img src="images/web-dev-code.png" alt="Coding picture" class="services-page-box__img">
        <div class="services-page-box__text">
            <h3 class="heading-tertiary-blue">SEO</h3>
            <p class="services-page-box__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores suscipit aut et. Laborum explicabo voluptatibus obcaecati dolorum, itaque accusantium ab delectus dignissimos, optio, labore sit. Quibusdam rem totam deserunt nesciunt!</p>
        </div>
    </div>
    <div class="services-page-box">
        <div class="services-page-box__text">
            <h3 class="heading-tertiary-blue">Ads, Lead generation, Email campaigns</h3>
            <p class="services-page-box__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores suscipit aut et. Laborum explicabo voluptatibus obcaecati dolorum, itaque accusantium ab delectus dignissimos, optio, labore sit. Quibusdam rem totam deserunt nesciunt!</p>
        </div>
        <img src="images/wordpress-website.png" alt="Coding picture" class="services-page-box__img">
    </div>
    <div class="services-page-box">
        <img src="images/wordpress-website.png" alt="Coding picture" class="services-page-box__img">
        <div class="services-page-box__text">
            <h3 class="heading-tertiary-blue">Digital media</h3>
            <p class="services-page-box__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores suscipit aut et. Laborum explicabo voluptatibus obcaecati dolorum, itaque accusantium ab delectus dignissimos, optio, labore sit. Quibusdam rem totam deserunt nesciunt!</p>
        </div>
    </div>

    <div class="services-page-description">
        <h3 class="heading-tertiary-blue">Pricing</h3>
        <p class="services-page-description__paragraph">Marketing packages are a monthly charge and include site management/revisions and graphic design services.</p>
        <p class="services-page-description__paragraph--faded">Minimum 6 months required (contract bound). SEO takes time.</p>
        <div class="services-page-description__border"></div>
    </div>
</section>

<div class="button-dark">
    <a href="/#contact" class="button-dark__link">
        <p class="button-dark__text">Contact Me</p>
    </a>
</div>


<% include partials/footer %>