<% include partials/header-two %>

<main class="thank-you">
    <h1 class="thank-you__heading">Thank you for contacting me!</h1>
    <h2 class="thank-you__sub">I will be in touch with you shortly.</h2>
    <a href="/" class="thank-you__return">Return home</a>
</main>

<% include partials/footer-two %>