.about-box {
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    transition: transform .3s;
    
    flex: 0 0 33.333333%;

    @include respond(tab-port) {
        flex: 0 0 50%;
    }
    
    @include respond(phone) {
        flex: 0 0 100%;
    }

    &__icon {
        display: block;
        margin: 0 auto 4rem auto;
        width: 8rem;
        height: 8rem;
        fill: $color-complimentary-light;
    }

    &__text {
        font-size: 1.8rem;
        padding-top: 1.3rem;
    }

    &__button {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
}