.blog-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .3s;

    &__height {
        height: 36rem;
        transition: all .3s;

        @include respond(tab-land) {
            height: 45rem;
        }

        @include respond(bs-nav) {
            height: 50rem;
        }

        @include respond(bs-md) {
            height: 40rem;
        }
    }

    &__image {
        background-size: cover;
        height: 20rem;
        margin-bottom: 3rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);        
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: url(../images/blog-section-web-design-trends.jpg);
        }
        
        &--2 {
            background-image: url(../images/blog-section-creating-contact-form-with-nodemailer.jpg);
        }
        
        &--3 {
            background-image: url(../images/blog-section-learn-html-basics.jpg);
        }
    }

    &__text {
        padding-top: 1.3rem;
    }

    &__read {
        opacity: 0;
        visibility: hidden;
        display: block;
        padding: .5rem .4rem .5rem .7rem;
        background-color: $color-primary-dark;
        backface-visibility: hidden;
        border-radius: 2px;
        color: $color-grey-light-1;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-size: 2.2rem;
        transition: .4s;
        margin: 0 auto;
        transform: translateY(5rem);

        @include respond(tab-land) {
            opacity: 1;
            visibility: visible;
            width: 80%;
            font-size: 2rem;
            transform: translateY(1rem);
        }

        @include respond(bs-nav) {
            width: 85%;
            font-size: 1.7rem;
        }

        @include respond(bs-md) {
            width: 60%;
            font-size: 2.2rem;
        }

        @include respond(smallest) {
            margin-top: 1rem;
            letter-spacing: 0;
        }

        &:hover {
            text-decoration: none;
            color: $color-grey-light-1;
            background-color: $color-grey-light-2;
        }
    }


    &:hover {
        transition: .4s;
        transform: translateY(-1.5rem) scale(1.03);
    }

    &:hover &__read {
        opacity: 1;
        visibility: visible;
        transform: translateY(-.8rem);

        @include respond(tab-land) {
            transform: translateY(1rem);
        }
    }

    &:hover &__height {
        height: 40rem;

        @include respond(tab-land) {
            height: 45rem;
        }

        @include respond(bs-nav) {
            height: 50rem;
        }

        @include respond(bs-md) {
            height: 40rem;
        }
    }
}