.services {
    text-align: center;

    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
        flex-wrap: wrap;
        align-items: center;
    }
    
    @include respond(phone) {
        flex-direction: column;
    }

    &__box {
        width: 31%;
        text-align: center;

        @include respond(tab-port) {
            width: 49%;
        }
        
        @include respond(phone) {
            width: 100%;
            margin-top: 2.5rem;
        }

        &:last-child {
            @include respond(tab-port) {
                margin-top: 2rem;
                margin-left: 10rem;
            }
            
            @include respond(phone) {
                margin-top: 2.5rem;
                margin-left: 0rem;
            }
        }
    }

    &__list {
        text-align: left;
        padding: 1rem;
        background-color: rgba($color-grey-light-1, .1);
        border-radius: 3px;

    }

    &__list-item {
        list-style: none;
        font-size: 1.8rem;
        font-weight: 300;
        color: rgba($color-grey-light-1, .9);

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &--option {
            display: block;
            text-transform: uppercase;
            letter-spacing: .3rem;
            color: $color-complimentary-light;
        }

        &--price {
            text-transform: uppercase;
            letter-spacing: .2rem;
            font-size: 1.4rem;
            color: $color-complimentary-light;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        margin-right: 1.5rem;
        transform: translateY(19%);
        fill: $color-complimentary-light;
    }

    &__contact {
        margin-top: 5rem;
        margin-bottom: 3rem;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        color: $color-grey-light-1;
    }

    &__link {
        display: block;
        width: 25rem;
        margin: 0 auto;
        border-radius: 3px;
        text-decoration: none;
        border: 1px solid $color-grey-light-1;
        color: $color-grey-light-1;
        transition: all .2s;

        &:hover {
            text-decoration: none;
            color: $color-complimentary-light;
            border: 1px solid $color-complimentary-light;
        }
    }

    &__btn {
        margin: 0 auto;
        padding: 1rem;
        font-size: 2.5rem;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: .3rem;
    }
}