@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0) skewX(-20deg);
    }

    100% {
        opacity: 0;
        transform: translateX(-10rem) skewX(-20deg);
    }
}
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0) skewX(-20deg);
    }

    100% {
        opacity: 0;
        transform: translateX(-10rem) skewX(-20deg);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}


@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0) skewX(-20deg);
    }

    100% {
        opacity: 0;
        transform: translateX(10rem) skewX(-20deg);
    }
}
@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0) skewX(-20deg);
    }

    100% {
        opacity: 0;
        transform: translateX(10rem) skewX(-20deg);
    }
}


@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@-webkit-keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@-webkit-keyframes fadeInLate {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeInLate {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}