body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.navbar {
	.nav-item {
		.nav-link {
			padding: 1rem 2rem;
			color: $color-grey-light-1;
			text-transform: uppercase;
			font-size: 1.5rem;

			animation: fadeInLate 1.5s ease-out;

			@include respond(bs-nav) {
				animation: none;
			}
		}
	}
}

.heading-primary {
	color: $color-grey-light-1;
	text-transform: uppercase;
	text-align: center;

	backface-visibility: hidden;
}

.heading-secondary {
	text-align: center;
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: .75rem;
	padding-top: 6.5rem;
	margin-right: -.75rem;
	color: $color-primary-dark;
	margin-bottom: 4rem;

	&--button {
		padding: .75rem 1.5rem;
		border-radius: 50%;
		font-size: 1.75rem;
		margin-top: 4rem;
		margin-left: auto;
		margin-right: auto;
	}
}

.heading-secondary-light {
	text-align: center;
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 1.25rem;
	padding-top: 6.5rem;
	margin-right: -1.25rem;
	color: $color-grey-light-1;
	margin-bottom: 4rem;
}

.heading-secondary-blue {
	text-align: center;
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: .75rem;
	padding-top: 6.5rem;
	margin-right: -.75rem;
	color: $color-complimentary-light;
	margin-bottom: 4rem;

	@include respond(smallest) {
		font-size: 3.5rem;
	}
}



.heading-tertiary {
	font-size: 1.7rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $color-primary-dark;
}

.heading-tertiary-light {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $color-grey-light-1;
	letter-spacing: .5rem;
	margin-right: -.5rem;
}

.heading-tertiary-dark {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $color-primary-dark;
	letter-spacing: .5rem;
	margin-right: -.5rem;
}

.heading-tertiary-blue {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $color-complimentary-light;
	letter-spacing: .5rem;
	margin-right: -.5rem;
}

