.section-blog-page {
    padding: 10rem 0;
    background-color: $color-grey-light-1;

    &__row {
        margin: 5rem 0;
        background-color: $color-white;
        border-radius: 4px;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        transition: all .3s;
        overflow: hidden;

        animation: moveInBottom 1.3s ease-out;

        &:hover {
            transform: translateY(-1rem) scale(1.02);
            box-shadow: 0 1.5rem 3rem rgba($color-black, .15);
        }
    }

    &__image {
        height: 23rem;
        background-size: cover;

        &--1 {
            background-image: url(../images/blog-section-web-design-trends.jpg);
        }

        &--2 {
            background-image: url(../images/blog-section-creating-contact-form-with-nodemailer.jpg);
        }
        
        &--3 {
            background-image: url(../images/blog-section-learn-html-basics.jpg);
        }
    }

    &__text-box {
        padding: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__heading {
        margin-bottom: 1.5rem;
        font-size: 2.7rem;
        text-transform: uppercase;
        color: $color-primary-dark;
        letter-spacing: .5rem;
    }

    &__text {
        font-size: 1.7rem;
        color: $color-primary-light;
    }

    &__link {
        &:hover {
            text-decoration: none;
        }

        &:focus {
            outline: none;
        }
    }
}