.section-header {
	height: 100vh;
	padding: 5rem;
	background-image: linear-gradient(105deg,
                                    rgba($color-primary-light, .8) 0%,
                                    rgba($color-primary-dark, .8) 50%,
                                    transparent 50%),
								url(../images/hero-image.jpg);
	background-size: cover;
	background-position: center 0px;
	position: relative;

	@include respond(tab-port) {
		background-image: linear-gradient(105deg,
                                    rgba($color-primary-light, .8) 0%,
                                    rgba($color-primary-dark, .8) 70%,
                                    transparent 70%),
								url(../images/hero-image.jpg);
	}
	
	@include respond(phone) {
		background-image: linear-gradient(to right bottom,
                                    rgba($color-primary-light, .8),
                                    rgba($color-primary-dark, .8)),
									url(../images/hero-image-mobile.jpg);
	}

	&__name {
		position: absolute;
		top: 35%;
		
		@include respond(tab-port) {
			left: 15%;
		}

		@include respond(phone) {
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__button {
		@include respond(phone) {
			width: 100%;
			text-align: center;
		}
	}
}

.section-who {
	padding: 10rem 4rem 55rem 4rem;
	background-image: url(../images/who-eye-bg.png);
	background-repeat: no-repeat;
	background-size: 60rem;
	background-position: 55% 40%;

	@include respond(tab-port) {
		background-position: 55% 35%;
    }
	
	@include respond(smallest) {
		padding: 10rem 3rem 60rem 3rem; 
		background-size: 50rem;
		background-position: 50% 43%;
    }
}

.section-services {
	padding: 15rem 5rem 20rem 5rem;
	margin-top: -21rem;
	margin-bottom: -21rem;
	text-align: center;
	background-image: 
					linear-gradient(to right bottom, 
					rgba($color-primary-light, .8), 
					rgba($color-primary-dark, .8)),
					url(../images/section-services-cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
	clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);

	@include respond(tab-land) {
		background-attachment: scroll;
	}

	@include respond(tab-port) {
		background-image: 
					linear-gradient(to right bottom, 
					rgba($color-primary-light, .8), 
					rgba($color-primary-dark, .8)),
					url(../images/section-services-tablet.jpg);
		-webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
		clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
	}

	@include respond(bs-md) {
		padding: 15rem 3rem 20rem 3rem;
	}
	
	@include respond(phone) {
		background-image: 
					linear-gradient(to right bottom, 
					rgba($color-primary-light, .8), 
					rgba($color-primary-dark, .8)),
					url(../images/section-services-mobile.jpg);
	}
	
	@include respond(smallest) {
		padding: 8rem 2rem 15rem 2rem;
		-webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
		clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
	}
}

.section-about {
	// background-color: $color-grey-light-1;
	padding-top: 15rem;
	padding-bottom: 10rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	.about {
		width: 90%;
		margin: 0 auto;
		padding-top: 10rem;

		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;

		&__heading {
			flex: 0 0 100%;
		}
	}

	.about-why {
		width: 50%;
		padding: 3rem 0 3rem 0;
		text-align: center;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include respond(tab-land) {
			width: 60%;
		}
		
		@include respond(tab-port) {
			width: 80%;
		}
		
		@include respond(smallest) {
			width: 90%;
		}
	}
}

// .section-blog {
// 	padding-top: 20rem;
// 	padding-bottom: 5rem;
// 	background-color: $color-grey-light-1;

// 	display: flex;
// 	justify-content: center;
// 	align-items: stretch;
// 	flex-wrap: wrap;

// 	@include respond(bs-nav) {
// 		flex-direction: column;
// 		align-items: center;
// 	}

// 	&__heading {
// 		flex: 0 0 100%;
// 	}
// }

.section-contact {
	// background-color: $color-grey-light-1;

	.contact {
		background-image: linear-gradient(105deg,
										rgba($color-primary-light, .9) 0%,
										rgba($color-primary-dark, .9) 60%,
										transparent 60%),
									url(../images/contact-web-design.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

		@include respond(tab-land) {
			background-attachment: scroll;
		}

		@include respond(bs-md) {
			background-image: linear-gradient(105deg,
										rgba($color-primary-light, .9) 0%,
										rgba($color-primary-dark, .9) 75%,
										transparent 75%),
									url(../images/contact-web-design.jpg);
		}
		
		@include respond(smallest) {
			background-image: linear-gradient(to right,
										rgba($color-primary-light, .9),
										rgba($color-primary-dark, .9)),
									url(../images/contact-web-design.jpg);
		}
	
		&__form {
			width: 65%;
			padding: 6rem;

			@include respond(tab-port) {
				padding: 4rem;
			}

			@include respond(bs-md) {
				width: 90%;
			}
			
			@include respond(smallest) {
				width: 100%;
			}
		}
	}
}