.section-header {
	height: 100vh;
	padding: 5rem;
	background-image: linear-gradient(105deg,
                                    rgba($color-primary-light, .8) 0%,
                                    rgba($color-primary-dark, .8) 50%,
                                    transparent 50%),
								url(../images/hero-image.jpg);
	background-size: cover;
	background-position: center;
	position: relative;

	@include respond(tab-port) {
		background-image: linear-gradient(105deg,
                                    rgba($color-primary-light, .8) 0%,
                                    rgba($color-primary-dark, .8) 70%,
                                    transparent 70%),
								url(../images/hero-image.jpg);
	}
	
	@include respond(phone) {
		background-image: linear-gradient(to right bottom,
                                    rgba($color-primary-light, .8),
                                    rgba($color-primary-dark, .8)),
									url(../images/hero-image-mobile.jpg);
	}

	&__name {
		position: absolute;
		top: 35%;
		
		@include respond(tab-port) {
			left: 15%;
		}

		@include respond(phone) {
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__button {
		@include respond(phone) {
			width: 100%;
			text-align: center;
		}
	}
}

.section-about {
	background-color: $color-grey-light-1;
	padding-top: 0rem;
	padding-bottom: 20rem;
	margin-bottom: -5rem;

	@include respond(tab-port) {
		padding-bottom: 13rem;
	}

	.about {
		width: 90%;
		margin: 0 auto;
		padding-top: 10rem;

		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;

		&__heading {
			flex: 0 0 100%;
		}
	}
}

.section-services {
	padding: 5rem 5rem 10rem 5rem;
	margin-bottom: -10rem;
	background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
	transform: skewY(-7deg);

	.services {
		&__bs {
			@include respond(bs-md) {
				margin: 2rem 0;
			}
		}
	}
	

	& > * {
		transform: skewY(7deg);
	}
}

.section-blog {
	padding-top: 20rem;
	padding-bottom: 5rem;
	background-color: $color-grey-light-1;

	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;

	@include respond(bs-nav) {
		flex-direction: column;
		align-items: center;
	}

	&__heading {
		flex: 0 0 100%;
	}
}

.section-contact {
	padding: 10rem 0 15rem 0;
	background-color: $color-grey-light-1;

	.contact {
		background-image: linear-gradient(105deg,
										rgba($color-primary-light, .9) 0%,
										rgba($color-primary-dark, .9) 60%,
										transparent 60%),
									url(../images/contact-web-design.jpg);
		background-size: cover;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

		@include respond(bs-md) {
			background-image: linear-gradient(105deg,
										rgba($color-primary-light, .9) 0%,
										rgba($color-primary-dark, .9) 75%,
										transparent 75%),
									url(../images/contact-web-design.jpg);
		}
		
		@include respond(smallest) {
			background-image: linear-gradient(to right,
										rgba($color-primary-light, .9),
										rgba($color-primary-dark, .9)),
									url(../images/contact-web-design.jpg);
		}
	
		&__form {
			width: 65%;
			padding: 6rem;

			@include respond(bs-md) {
				width: 90%;
			}
			
			@include respond(smallest) {
				width: 100%;
			}
		}
	}
}